<app-loader></app-loader>
<div class="home">
  <div class="container">
    <div>
      <h1><span style="--d:{{i}}" *ngFor="let letter of title;let i=index">{{letter}}</span></h1>
      <p>The high
        resolution of the QR codes and the powerful design options make it one of the best free QR code generators on
        the web that can be
        used for commercial and print purposes.
      </p>
      <button routerLink="/generate">Creat Now</button>
    </div>
    <div>
      <img src="../../../assets/images/landing.png" alt="">
    </div>
  </div>
</div>
<app-footer></app-footer>